<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style/style.css" />
    <title>Complots</title>
</head>

<body>
    <div id="app">

        <login v-if="state=='login'" @event-start-lobby="start_lobby"></login>

        <lobby v-if="state=='lobby'" :playersprop="players" @event-player-ready="player_ready"
            @event-player-not-ready="player_not_ready">
        </lobby>

        <game v-if="state=='game'" :playerspropgame="players" @event-target-player="target_player"
            @event-revenu="revenu" @event-contrer="contrer">
        </game>
    
    </div>
    
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="client/app.js"></script>
</body>

</html>